<h2 class="sans" style="margin-bottom: 5px; font-size: 21px;">Ajustes</h2>
				<p class="sans" style="font-size: 13px;">Bienvenido a la seccion de ajustes, en esta seccion usted tiene acceso a su numero de ID de cliente por cualquier problema tecnico, este numero 
				debera dar. El estado de su subscripcion. Y los links para realizar el cambio de contraseña y tambien email.</p>
				<hr>
				<div class="row">
					<!-- AJUSTES GENERALES -->
					<div class="col-md-offset-1">
						<p class="sans" style="font-size: 13px;">
							Ajustes Generales:
						</p>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<p style="margin-bottom: 0px; color: #989898; font-size: 13px;" class="sans">ID de Cliente:</p>
						<p class="sans" style="font-size: 13px;">SV3490</p>
					</div>
					<div class="col-md-5">
						<p style="margin-bottom: 0px; color: #989898; font-size: 13px;" class="sans">Suscripcion:</p>
						<p class="sans" style="font-size: 13px;">Activa</p>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-5 col-md-offset-1" style="margin-top: 10px;">
						<p style="margin-bottom: 0px; color: #989898; font-size: 13px;" class="sans">Email Personal:</p>
						<p class="sans" style="font-size: 13px;">marvinvigilm@gmail.com <a href="#">Cambiar</a></p>
					</div>
					<div class="col-md-5" style="margin-top: 10px;">
						<p style="margin-bottom: 0px; color: #989898; font-size: 13px;" class="sans">Password:</p>
						<p class="sans" style="font-size: 13px;">Olvidaste tu contraseña? <a href="#">Cambiar</a></p>
					</div>
					<div class="clearfix"></div>
					<!-- NOTIFICACION DE EMAILS -->
					<div class="col-md-offset-1" style="margin-top: 30px;">
						<p class="sans" style="font-size: 13px; margin-bottom: 0px;">
							Notificaciones por Email:
						</p>
						<p style="margin-bottom: 0px; color: #989898; font-size: 13px;" class="sans">Seleccione las casillas de las cuales quiere recibir correos.</p>
					</div>
					<div class="col-md-10 col-md-offset-1" style="margin-top: 5px;">
						<!-- START DE CHECKBOX -->
						<div class="checkbox">
			        <label>
			          <input type="checkbox"> <p class="sans" style="font-size: 13px;">Cuando alguien me quiere contactar</p>
			        </label>
			      </div>
			      <!-- START DE CHECKBOX -->
						<div class="checkbox">
			        <label>
			          <input type="checkbox"> <p class="sans" style="font-size: 13px;">Cuando alguien me quiere contactar</p>
			        </label>
			      </div>
			      <!-- START DE CHECKBOX -->
						<div class="checkbox">
			        <label>
			          <input type="checkbox"> <p class="sans" style="font-size: 13px;">Cuando alguien me quiere contactar</p>
			        </label>
			      </div>
			      <!-- START DE CHECKBOX -->
						<div class="checkbox">
			        <label>
			          <input type="checkbox"> <p class="sans" style="font-size: 13px;">Cuando alguien me quiere contactar</p>
			        </label>
			      </div>
			      <!-- START DE CHECKBOX -->
						<div class="checkbox">
			        <label>
			          <input type="checkbox"> <p class="sans" style="font-size: 13px;">Cuando alguien me quiere contactar</p>
			        </label>
			      </div>
			      <!-- START DE CHECKBOX -->
						<div class="checkbox">
			        <label>
			          <input type="checkbox"> <p class="sans" style="font-size: 13px;">Cuando alguien me quiere contactar</p>
			        </label>
			      </div>
			      <!-- START DE CHECKBOX -->
						<div class="checkbox">
			        <label>
			          <input type="checkbox"> <p class="sans" style="font-size: 13px;">Cuando alguien me quiere contactar</p>
			        </label>
			      </div>
			      <!-- START DE CHECKBOX -->
						<div class="checkbox">
			        <label>
			          <input type="checkbox"> <p class="sans" style="font-size: 13px;">Cuando alguien me quiere contactar</p>
			        </label>
			      </div>
			      <!-- START DE CHECKBOX -->
						<div class="checkbox">
			        <label>
			          <input type="checkbox"> <p class="sans" style="font-size: 13px;">Cuando alguien me quiere contactar</p>
			        </label>
			      </div>
			      <hr style="margin-top: 10px; margin-bottom: 10px;">
			      <!-- START DE CHECKBOX -->
			      <p style="margin-bottom: 0px; color: #989898; font-size: 13px;" class="sans">Desea removerse de todo? Aun le mandaremos notificaciones que creemos que fueran importantes.</p>
						<div class="checkbox">
			        <label>
			          <input type="checkbox"> <p class="sans" style="font-size: 13px;">Quiero desuscribirme de todas las notificaciones</p>
			        </label>
			      </div>
					</div> <!-- FIN DE COL-MD-10 -->
					<div class="clearfix"></div>
					<div class="col-md-offset-1">
						<p class="sans" style="font-size: 13px; margin-top: 20px; margin-bottom: 0px;">
							Verificacion de Abogados
						</p>
					</div>
					<div class="col-md-10 col-md-offset-1" style="margin-top: 5px;">
					<p style="margin-bottom: 0px; color: #989898; font-size: 13px;" class="sans">Verificate como abogado para crear una mejor confianza en los usuarios que navegen nuestro sitio. Al verificarte, tu insignia de verificado le agrega credibilidad a tu perfil y aumenta tu posibilidad de obtener un cliente.</p>
					<p style="margin-bottom: 30px; font-size: 13px;" class="sans"><a href="#">Verificate haciendo click aqui</a></p>
					</div>
				</div> <!-- FIN DE ROW -->
