
<h2 class="sans" style="margin-bottom: 5px; font-size: 21px;">Verificacion de abogados</h2>
				<p class="sans" style="font-size: 13px;">Bienvenido a la seccion de verificacion de abogados.</p>
				<hr>
				<div class="row">
					<!-- AJUSTES GENERALES -->
					<div class="col-md-offset-1">
						<p class="sans" style="font-size: 100%; font-family: serif;">
							Formulario de verificacion
						</p>
                                                <p class="sans" style="font-size: 100%; font-family: fantasy;">
						Por favor selecciona la imagen de tu carnet de verificacion de abogado, para que de esta forma tu perfil pueda estar verificado.
						</p>
					</div>
                                        <div class="col-md-1"></div>
					<div class="col-md-7 col-md-offset-1">
                                            <form id="frmVerificacion" role="form" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <img src="" style="max-height: 100%;max-width: 100%;" id="prevVerificacion" >
                                                    <input type="file" name="imagen" class="input-sm" id="imagenV">
                                                     
                                                </div>
                                                
                                            </form>
                                                <div class="form-group">
                                                  <button class="btn btn-primary" style="margin-top: 30px;" id="enviarImagenV">Guardar</button>
                                                  <button class="btn btn-danger" style="margin-top: 30px;" id="cancelarImagenV">Cancelar</button>
                                                </div>
                                      
                                        </div>
					<div class="col-md-1"></div>	
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                            
					
					
					
                                </div>
                                
                            
					
                              