

<form role="form" id="tipoempresa">
   <div class="form-group">
          <label for="nombreTipoEmpresa">Nombre tipo empresa:</label>
          <input type="text" class="form-control" id="txtnombreempresa" name="txtnombreempresa" style="width: 25%;">
     </div>            
</form>
