{% extends ':Layout:layout2.html.twig' %}



{% block body %}
    {{parent()}}
{#<div class="row " style="background-color:#fff; height: 100%; padding: 20px;">
    <div class="col-md-12" style="background-color:#fff; height: 100%; padding: 20px;">
        <div class="no-padding" style="margin-top: 1px;">
            <div class="custom row-feature-primary ">
                <div class="jumbotron jumbotron-primary " >
                    <h1 style=" padding-left: 20px;">Pregunta enviada</h1>
                    <p style=" padding-left: 20px;">Hemos recibido tu pregunta correctamente...</p>
                </div></div>
        </div>
        <span style="  color: #76B202; font-size: -webkit-xxx-large; float: left; margin-right: 26px;padding-left: 20px;" class="glyphicon glyphicon-ok"></span>
        <h1 >Muy pronto te responderemos</h1>
        <h1 ><small>ponte atento en tu bandeja de entrada de email...</small></h1>
        <a href="{{ path('pregunta_index') }}" class="button">
            <button class="btn btn-bitbucket btn-flat pull-right" style="margin-top: 10px;">Regresar a centro de preguntas</button>
        </a>
    </div>
</div>#}





    <!-- Perfil Desktop -->
<div class="hidden-xs hidden-sm">

    <!-- Navbar -->
    

    <div class="container" style="padding-bottom: 50px; padding-top: 50px;">
            <div class="row">
                    <p class="text-center">
                            <img src="{{asset('Resources/src/img/pregunta.png')}}" style="width: 250px;">
                    </p>
                    <p class="text-center" style="font-size: 40px; font-family: 'Montserrat', sans-serif; font-weight: 700; color: #082242;">¡Pregunta Enviada!</p>
                    <p class="text-center" style="font-size: 13px; font-family: 'Montserrat', sans-serif; font-weight: 700; color: #082242;">
                            Muchas gracias por utilizar nuestros servicio de consultoría gratuito.
                    </p>
            </div>
    </div>
    <div class="container-fluid" style="padding-top: 30px; padding-bottom: 30px; background-color: #BFDBEF;">
            <p class="text-center" style="font-size: 30px; font-family: 'Montserrat', sans-serif; font-weight: 700; color: #082242; margin-bottom: 0px;">¿Ahora qué?</p>
    </div>
    <div class="container-fluid" style="background-color: #ffffff; padding-top: 30px; padding-bottom: 30px;">
            <div class="container">
                    <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                    <p class="text-center sans" style="font-size: 20px; margin-bottom: 0px;">
                                            <strong>1.</strong> Hemos enviado tu pregunta a todos los abogados de la especialidad que tú seleccionaste.
                                    </p>
                                    <p class="text-center sans" style="font-size: 20px; margin-bottom: 0px;">
                                            <strong>2.</strong> Cuando un abogado responda tu pregunta, te enviaremos un correo para que entres a ver la respuesta.
                                    </p>
                                    <p class="text-center sans" style="font-size: 20px; margin-bottom: 0px;">
                                            <strong>3.</strong> Tú seleccionas el abogado que más sientas adecuado para tu solución legal. 
                                    </p>
                                    <p class="text-center" style="margin-top: 35px; margin-bottom: 15px;">
                                        <a href="{{path('preg_deta')}}">
                                            <button style="width: 250px; height: 30px; background-color: #F42; border-radius: 2px; border: 0; color: #fff;" class="sans">
                                                <strong>Realizar otra pregunta</strong>
                                            </button>
                                        </a>
                                    </p>					
                            </div>
                    </div>
            </div>
    </div>

    <!-- Aviso -->
    <div class="container-fluid" style="background-color: #f2f2f2; padding-top: 30px; padding-bottom: 30px;">
            <div class="container">
                    <p class="text-center" style="margin-bottom: 0px;">
                            <strong>Aviso Importante: </strong> </br>Somos una herramienta intermediaria para tu selección de abogado, no somos responsables ni moderamos las respuestas de los abogados. Al contratar a un abogado por medio de nuestra plataforma, nos eximimos de toda responsabilidad entre el acuerdo del solicitante del servicio y del abogado. 
                            </br><strong>Para más información: <a href="#">Términos de uso</a></strong>
                    </p>
            </div>
    </div>

    <!-- Navbar -->
    {#<?php include ('src/includes/footer.php'); ?>#}

</div>
    {% embed ':Layout:footer.html.twig' %}{% endembed %}
{% endblock %}
