{% extends ':Layout:layout2.html.twig' %}

{% block descripcion_y_acciones %}


    {% block descripcion %}

    {% endblock%}
    {% block acciones %}

    {% endblock %}

{% endblock %}
{% block js_extend %}
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="src/js/bootstrap.js"></script>
    <script type="text/javascript">
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
    </script>
{% endblock %} 

{% block navegacion_Y_body %}

    {% block navegacion %}
    {% endblock %}
    {% block cuerpo %}
        
        <div class="container" style="padding: 20px 0px; background-color: #f6f6f6;">
		<div class="row">
                    
                    <form class="navbar-form" role="search" action="{{ path('envio_pregunta') }}" method="POST">
                        <p class="text-center" style="font-size: 15px;">Si usted desea puede modificar su pregunta aqui</p>
                        <div class="col-md-2"></div>
                        <div class="col-md-8 text-center">
                            <div class="form-group">
                                <textarea id="" name="pregunta" class="form-control textarea" maxlength="140" placeholder="Haga su pregunta aqui ..." style="max-width: 400px; min-width: 400px; width: 400px; max-height: 150px; min-height: 150px; height: 150px;">{{pregunta}}</textarea>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        
                        <p class="text-center" style="font-size: 15px;">Diganos mas sobre su pregunta</p>
                        <div class="col-md-2"></div>
                        <div class="col-md-8 text-center">
                            <div class="form-group">
                                <textarea id="" name="detalle" class="form-control textarea" maxlength="140" placeholder="Haga su pregunta aqui ..." style="max-width: 400px; min-width: 400px; width: 400px; max-height: 150px; min-height: 150px; height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        
                        <div class="col-md-2"></div>
                        <div class="col-md-8 text-center">
                            <div class="form-group" style="margin-top: 10px;">
                                <label for="nombreEmpleado">Especialidad de la pregunta</label>
                                <select required class="form-control" id="categoria" name="especialidad" placeholder=Especialidad">
                                    <option value="5" selected style="margin-bottom: 10px;">Seleccione una categoria</option>                           
                                    {% for ctlEspecialidad in ctlEspecialidad %}
                                        <option value="{{ ctlEspecialidad.id  }}">{{ctlEspecialidad.nombreEspecialidad }}</option>  
                                    {% endfor %}          
                                </select>    
                            </div>
                        </div>                        
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        
                        <div class="col-md-2"></div>
                        <div class="col-md-8 text-center">
                            <hr style="border: 1px solid #262626; width: 100%;">
                            <div class="form-group" style="margin-top: 10px;">                                
                                <label for="exampleInputEmail1">Escriba su correo</label> 
                                <input id="" name="email" type="email" class="form-control" placeholder="Email contacto" required />
                            </div>
                        </div>                        
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        
                        <div class="col-md-2"></div>
                        <div class="col-md-8 text-center">
                            <div class="checkbox">
                            <label>
                                <input type="checkbox" required> Dar click para enviar su pregunta. Al marcar esta casilla usted esta aceptando los terminos y condiciones de Abogados.com
                            </label>
                        </div>
                        </div>                        
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                                                               
                        <div class="col-md-2"></div>
                        <div class="col-md-8 text-center"><button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enviar Pregunta </button></div>                        
                        <div class="col-md-2"></div>
                    </form>                                            
		</div>
	</div>
	<div style="height: 10px;"></div>
	
    {% endblock %}
    
    
    {% block js_template %}
    {% endblock js_template %}
{% endblock %}