{# empty Twig template #}

<div class="container-fluid" style="background-color: #000035; height: 50px;width: 100%;">
		<div class="container">
			<p class="pull-left"> <img src="{{asset('Resources/src/img/loo.png')}}" style="margin-top: 6px;"> 
                         </p>
			<p class="pull-right" style="color: #fff; margin-top: 13px;"> 
			<span class='sans' style="padding-left: 10px; padding-right: 10px; font-size: 12px; letter-spacing: 0.5px;"><strong>HERRAMIENTAS UTILES</strong></span>
			<span class='sans' style="font-size: 14px;"><strong>|</strong></span>
			<span class='sans' style="padding-left: 10px; padding-right: 10px; font-size: 12px; letter-spacing: 0.5px;"><strong>MI CUENTA</strong></span><i class="fa fa-chevron-down" style="margin-bottom: 3px;"></i> 
			</p>
		</div>
	</div>