{% extends ':Layout:layout2.html.twig' %}

{% block body %}


	<div class="container-fluid" style="background-color: #000035; height: 50px;">
		<div class="container">
			<p class="pull-left"> <img src="src/img/loo.png" style="margin-top: 6px;"> </p>
			<p class="pull-right" style="color: #fff; margin-top: 13px;"> 
			<span class='sans' style="padding-left: 10px; padding-right: 10px; font-size: 12px; letter-spacing: 0.5px;"><strong>ENCUENTRA ABOGADOS</strong></span>
			<span class='sans' style="font-size: 14px;"><strong>|</strong></span>
			<span class='sans' style="padding-left: 10px; padding-right: 10px; font-size: 12px; letter-spacing: 0.5px;"><strong>REGISTRATE</strong></span>
			<span class='sans' style="font-size: 14px;"><strong>|</strong></span>
			<span class='sans' style="padding-left: 10px; padding-right: 10px; font-size: 12px; letter-spacing: 0.5px;"><strong>LOGIN</strong></span>
			</p>
		</div>
	</div>
    

	<div class="clearfix"></div>

	<div class="container">
		<div class="row">
			<!-- LADO IZQUIERDO -->
			<div class="col-md-9">
				<div class="bloque-main" style="padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; margin-top: 20px;">
				<img src="src/img/banner1.png" style="width: 100%; max-width: 100%;">
				</div>
				<div class="item-directorio" style="margin-top: 5px !important; padding: 10px;">
					<form class="form-inline">
  					<input class="searchbox" style="width: 90%;" placeholder="Buscar por asunto legal o nombre de abogado/firma" oninvalid="this.setCustomValidity('Porfavor ingrese el nombre de un Abogado, Bufete, Firma o Problema Legal')" required> </input>
					  <button type="submit" class="searchbotondir">Buscar</button>
					</form>
				</div>
				<div class="item-directorio-nexo" style="height: 40px;">
					<p class="pull-left" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
						Mostrando los resultado para <strong>Familiar</strong>.
					</p>
					<p class="pull-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
						Mostrando 9 resultados de 1450.
					</p>
				</div>
				<!-- item 1 -->
				<div class="item-directorio-nexo">
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2">
							<img src="src/img/profile.png" style="max-width: 100%; width: 100%; margin-left: 10px; margin-top: 15px; margin-bottom: 15px; margin-right: 10px;">
						</div>
						<div class=" col-xs-10 col-sm-9 col-md-9 col-lg-10">
							<p style="margin-top: 10px; font-size: 1.3em; margin-bottom: 0px;" class="sans"><strong>Marvin Jose Vigil</strong></p>
							<p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 12px;" class="sans">Director Ejecutivo en Digitality Garage</p>
							<div class="row" style="margin-top: 2px; margin-bottom: 15px;">
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Telefono</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">+503 77971933</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">marvinvigil@gmail.com</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Sitio Web</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;"><a href="http://www.ariaslaw.com" target="_blank">www.ariaslaw.com</a></p>
								</div>
								<div class="col-sm-12">
									<span style="color: #4444444; font-size: 11px; margin-bottom: 0px; padding-right: 10px;"><strong>Especialidades:</strong> </span>
									<span style="font-size: 11px;">Derecho Civil, Derecho Comercial, Derecho Constitucional, Derecho Penal</span>
								</div>
								<div class="col-sm-12" style="margin-top: -0px;">
									<span style='font-size: 11px;'><a href="perfil.php">Ver perfil</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Contactar</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Recomendar</a></span>							
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- item 2 -->
				<!-- item 2 -->
				<div class="item-directorio-nexo">
					<div class="row">
						<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2">
							<img src="src/img/1.jpg" style="max-width: 100%; width: 100%; margin-left: 10px; margin-top: 15px; margin-bottom: 15px; margin-right: 10px;">
						</div>
						<div class=" col-xs-10 col-sm-9 col-md-9 col-lg-10">
							<p style="margin-top: 10px; font-size: 1.3em; margin-bottom: 0px;" class="sans"><strong>John P. Simmons</strong></p>
							<p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 12px;" class="sans">Director Ejecutivo en Digitality Garage</p>
							<div class="row" style="margin-top: 2px; margin-bottom: 15px;">
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Telefono</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">+503 77971933</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">marvinvigil@gmail.com</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Sitio Web</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;"><a href="http://www.ariaslaw.com" target="_blank">www.ariaslaw.com</a></p>
								</div>
								<div class="col-sm-12">
									<span style="color: #4444444; font-size: 11px; margin-bottom: 0px; padding-right: 10px;"><strong>Especialidades:</strong> </span>
									<span style="font-size: 11px;">Derecho Civil, Derecho Comercial, Derecho Constitucional, Derecho Penal</span>
								</div>
								<div class="col-sm-12" style="margin-top: -0px;">
									<span style='font-size: 11px;'><a href="perfil.php">Ver perfil</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Contactar</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Recomendar</a></span>							
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- item 2 -->
				<div class="item-directorio-nexo">
					<div class="row">
						<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2">
							<img src="src/img/2.jpg" style="max-width: 100%; width: 100%; margin-left: 10px; margin-top: 15px; margin-bottom: 15px; margin-right: 10px;">
						</div>
						<div class=" col-xs-10 col-sm-9 col-md-9 col-lg-10">
							<p style="margin-top: 10px; font-size: 1.3em; margin-bottom: 0px;" class="sans"><strong>Joshua Mc.Carthy</strong></p>
							<p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 12px;" class="sans">Director Ejecutivo en Digitality Garage</p>
							<div class="row" style="margin-top: 2px; margin-bottom: 15px;">
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Telefono</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">+503 77971933</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">marvinvigil@gmail.com</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Sitio Web</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;"><a href="http://www.ariaslaw.com" target="_blank">www.ariaslaw.com</a></p>
								</div>
								<div class="col-sm-12">
									<span style="color: #4444444; font-size: 11px; margin-bottom: 0px; padding-right: 10px;"><strong>Especialidades:</strong> </span>
									<span style="font-size: 11px;">Derecho Civil, Derecho Comercial, Derecho Constitucional, Derecho Penal</span>
								</div>
								<div class="col-sm-12" style="margin-top: -0px;">
									<span style='font-size: 11px;'><a href="perfil.php">Ver perfil</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Contactar</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Recomendar</a></span>							
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- item 2 -->
				<div class="item-directorio-nexo">
					<div class="row">
						<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2">
							<img src="src/img/3.jpg" style="max-width: 100%; width: 100%; margin-left: 10px; margin-top: 15px; margin-bottom: 15px; margin-right: 10px;">
						</div>
						<div class=" col-xs-10 col-sm-9 col-md-9 col-lg-10">
							<p style="margin-top: 10px; font-size: 1.3em; margin-bottom: 0px;" class="sans"><strong>May Raymond</strong></p>
							<p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 12px;" class="sans">Director Ejecutivo en Digitality Garage</p>
							<div class="row" style="margin-top: 2px; margin-bottom: 15px;">
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Telefono</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">+503 77971933</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">marvinvigil@gmail.com</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Sitio Web</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;"><a href="http://www.ariaslaw.com" target="_blank">www.ariaslaw.com</a></p>
								</div>
								<div class="col-sm-12">
									<span style="color: #4444444; font-size: 11px; margin-bottom: 0px; padding-right: 10px;"><strong>Especialidades:</strong> </span>
									<span style="font-size: 11px;">Derecho Civil, Derecho Comercial, Derecho Constitucional, Derecho Penal</span>
								</div>
								<div class="col-sm-12" style="margin-top: -0px;">
									<span style='font-size: 11px;'><a href="perfil.php">Ver perfil</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Contactar</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Recomendar</a></span>							
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- item 2 -->
				<div class="item-directorio-nexo">
					<div class="row">
						<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2">
							<img src="src/img/4.jpg" style="max-width: 100%; width: 100%; margin-left: 10px; margin-top: 15px; margin-bottom: 15px; margin-right: 10px;">
						</div>
						<div class=" col-xs-10 col-sm-9 col-md-9 col-lg-10">
							<p style="margin-top: 10px; font-size: 1.3em; margin-bottom: 0px;" class="sans"><strong>Steven P. Domm</strong></p>
							<p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 12px;" class="sans">Director Ejecutivo en Digitality Garage</p>
							<div class="row" style="margin-top: 2px; margin-bottom: 15px;">
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Telefono</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">+503 77971933</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">marvinvigil@gmail.com</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Sitio Web</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;"><a href="http://www.ariaslaw.com" target="_blank">www.ariaslaw.com</a></p>
								</div>
								<div class="col-sm-12">
									<span style="color: #4444444; font-size: 11px; margin-bottom: 0px; padding-right: 10px;"><strong>Especialidades:</strong> </span>
									<span style="font-size: 11px;">Derecho Civil, Derecho Comercial, Derecho Constitucional, Derecho Penal</span>
								</div>
								<div class="col-sm-12" style="margin-top: -0px;">
									<span style='font-size: 11px;'><a href="perfil.php">Ver perfil</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Contactar</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Recomendar</a></span>							
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- item 2 -->
				<div class="item-directorio-nexo">
					<div class="row">
						<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2">
							<img src="src/img/5.jpg" style="max-width: 100%; width: 100%; margin-left: 10px; margin-top: 15px; margin-bottom: 15px; margin-right: 10px;">
						</div>
						<div class=" col-xs-10 col-sm-9 col-md-9 col-lg-10">
							<p style="margin-top: 10px; font-size: 1.3em; margin-bottom: 0px;" class="sans"><strong>Rae Fernandez</strong></p>
							<p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 12px;" class="sans">Director Ejecutivo en Digitality Garage</p>
							<div class="row" style="margin-top: 2px; margin-bottom: 15px;">
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Telefono</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">+503 77971933</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">marvinvigil@gmail.com</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Sitio Web</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;"><a href="http://www.ariaslaw.com" target="_blank">www.ariaslaw.com</a></p>
								</div>
								<div class="col-sm-12">
									<span style="color: #4444444; font-size: 11px; margin-bottom: 0px; padding-right: 10px;"><strong>Especialidades:</strong> </span>
									<span style="font-size: 11px;">Derecho Civil, Derecho Comercial, Derecho Constitucional, Derecho Penal</span>
								</div>
								<div class="col-sm-12" style="margin-top: -0px;">
									<span style='font-size: 11px;'><a href="perfil.php">Ver perfil</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Contactar</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Recomendar</a></span>							
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- item 2 -->
				<div class="item-directorio-nexo">
					<div class="row">
						<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2">
							<img src="src/img/6.png" style="max-width: 100%; width: 100%; margin-left: 10px; margin-top: 15px; margin-bottom: 15px; margin-right: 10px;">
						</div>
						<div class=" col-xs-10 col-sm-9 col-md-9 col-lg-10">
							<p style="margin-top: 10px; font-size: 1.3em; margin-bottom: 0px;" class="sans"><strong>Michael McWire</strong></p>
							<p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 12px;" class="sans">Director Ejecutivo en Digitality Garage</p>
							<div class="row" style="margin-top: 2px; margin-bottom: 15px;">
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Telefono</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">+503 77971933</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">marvinvigil@gmail.com</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Sitio Web</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;"><a href="http://www.ariaslaw.com" target="_blank">www.ariaslaw.com</a></p>
								</div>
								<div class="col-sm-12">
									<span style="color: #4444444; font-size: 11px; margin-bottom: 0px; padding-right: 10px;"><strong>Especialidades:</strong> </span>
									<span style="font-size: 11px;">Derecho Civil, Derecho Comercial, Derecho Constitucional, Derecho Penal</span>
								</div>
								<div class="col-sm-12" style="margin-top: -0px;">
									<span style='font-size: 11px;'><a href="perfil.php">Ver perfil</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Contactar</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Recomendar</a></span>							
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- item 2 -->
				<div class="item-directorio-nexo">
					<div class="row">
						<div class="col-xs-2 col-sm-3 col-md-3 col-lg-2">
							<img src="src/img/7.jpg" style="max-width: 100%; width: 100%; margin-left: 10px; margin-top: 15px; margin-bottom: 15px; margin-right: 10px;">
						</div>
						<div class=" col-xs-10 col-sm-9 col-md-9 col-lg-10">
							<p style="margin-top: 10px; font-size: 1.3em; margin-bottom: 0px;" class="sans"><strong>Angelo Reynoso</strong></p>
							<p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 12px;" class="sans">Director Ejecutivo en Digitality Garage</p>
							<div class="row" style="margin-top: 2px; margin-bottom: 15px;">
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Telefono</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">+503 77971933</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;">marvinvigil@gmail.com</p>
								</div>
								<div class="col-sm-4 col-xs-12">
									<p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Sitio Web</strong></p>
									<p style="font-size: 11px; margin-bottom: 0px;"><a href="http://www.ariaslaw.com" target="_blank">www.ariaslaw.com</a></p>
								</div>
								<div class="col-sm-12">
									<span style="color: #4444444; font-size: 11px; margin-bottom: 0px; padding-right: 10px;"><strong>Especialidades:</strong> </span>
									<span style="font-size: 11px;">Derecho Civil, Derecho Comercial, Derecho Constitucional, Derecho Penal</span>
								</div>
								<div class="col-sm-12" style="margin-top: -0px;">
									<span style='font-size: 11px;'><a href="perfil.php">Ver perfil</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Contactar</a></span>
									<span style="color: #777777; margin-left: 5px; margin-right: 5px;">|</span>
									<span style='font-size: 11px;'><a href="#">Recomendar</a></span>							
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fin de Items -->
				<!-- PAGINACION -->
				<div class="item-directorio-nexo">
					<div class="row">
						<div class="col-md-7" style="padding-top: 9px;">
							<ul style="list-style: none; display: inline; padding-left: 10px !important; color: #777777;">
								<li style="display: inline; padding: 7px;"><i class="fa fa-chevron-left"></i></li>
								<li style="display: inline; padding: 7px;"><strong>1</strong></li>
								<li style="display: inline; padding: 7px;"><strong>2</strong></li>
								<li style="display: inline; padding: 7px;"><strong>3</strong></li>
								<li style="display: inline; padding: 7px;"><strong>4</strong></li>
								<li style="display: inline; padding: 7px;"><strong>5</strong></li>
								<li style="display: inline; padding: 7px;"><strong>6</strong></li>
								<li style="display: inline; padding: 7px;"><i class="fa fa-chevron-right"></i></li>
							</ul>
						</div>
						<div class="col-md-5">
							<p class="text-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
								Mostrando 9 resultados de 1450.
							</p>
						</div>	
					</div>
				</div>


				<div style="height: 20px;"></div>

			</div> <!-- END COL-MD-9 -->

			<!-- LADO DERECHO -->
			<div class="col-md-3" style="margin-top: 10px;">
				<div class="bloque-main" style="padding: 5px;">
					<img src="src/img/banner.png" style="width: 100%; max-width: 100%;">
				</div>
				<div class="bloque-nexo" style="padding: 5px;">
					<img src="src/img/banner.png" style="width: 100%; max-width: 100%;">
				</div>
				<div class="bloque-nexo" style="padding: 5px;">
					<img src="src/img/banner.png" style="width: 100%; max-width: 100%;">
				</div>
			</div>
		</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="src/js/bootstrap.js"></script>
	<script type="text/javascript">
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
	</script>
	<script type="text/javascript">
<!--
function check_length(my_form)
{
maxLen = 140; // max number of characters allowed
if (my_form.my_text.value.length >= maxLen) {
// Reached the Maximum length so trim the textarea
	my_form.my_text.value = my_form.my_text.value.substring(0, maxLen);
 }
else{ // Maximum length not reached so update the value of my_text counter
	my_form.text_num.value = maxLen - my_form.my_text.value.length;
}
}
//-->
</script>
{% endblock body %}

