{% extends ':Layout:layout2.html.twig' %}

{% block descripcion_y_acciones %}


    
        {% block descripcion %}
            
        {% endblock%}
        {% block acciones %}
            
        {% endblock %}


{% endblock %}
{% block js_extend %}

  
           
      
  {% endblock %} 

{% block navegacion_Y_body %}
  
        {% block navegacion %}
            
        {% endblock %}
        {% block cuerpo %}
<div class="row">
    <h1>Registrar De empresa</h1>
    
    <form id="frmEmpresaConFoto" role="form" enctype="multipart/form-data" method="POST">
    
        <div class="col-md-12">
            <div class="box-header with-border">
              <h3 class="box-title text-success">Datos Generales de la empresa</h3>
            </div>
        </div>
        <div class="clearfix"></div>
    <div class="col-md-5">
          <!-- general form elements -->
            <div class="box box-primary">
            
            <!-- /.box-header -->
            <!-- form start -->
        
            <img id="img_destino" src="http://placehold.it/900x300" style="max-width: 100%; width: 100%; margin-top: 30px;">
               <div class="form-group">
                  <label for="imgen">Foto de perfil de la empresa</label>
                  <input required type="file" name="file" id="imagen">
             </div>
             <label for="colorSelector">Seleccione un color </label>
            <div class="form-group" id="colorSelector" style="background-image: url({{ asset('Resources/colorpicker/images/select.png') }});
                 
                
                 width: 30px;
                 height: 30px;
                 background-repeat: repeat;
                background-attachment: scroll;
                background-position: center center;
                background-clip: border-box;
                background-origin: padding-box;
                background-size: auto auto;
                 
                 ">
                <div style="background-color: #0000ff"></div>
                
            </div>
            
            
            
             <div class="form-group">
                  <label for="nombreEmpresa">Nombre de la empresa</label>
                  <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa">
              </div>
            
            
              <div class="form-group">
                  <label for="fechafundacion">Fecha de fundacion</label>
                  <input type="date" class="form-control" id="fechafundacion" name="fechafundacion" placeholder="Año de fundacion">
              </div>

              <div class="form-group">
                  <label for="tipoempresa">Tipo de empresa</label>
                  
                  <select class="form-control" id="tipoempresa" name="tipoempresa" placeholder="Seleccione un tipo de empresa">
                      {% for ctlTipoEmpresa in ctlTipoEmpresas %}
                          <option value="{{ ctlTipoEmpresa.id  }}">{{ctlTipoEmpresa.tipoEmpresa }}</option>  
                      {% endfor %}          
                  </select>    
              </div>
               <div class="form-group">
                  <label for="nombreEmpresa">Descripcion General de la empresa:</label>
                  <textarea class="form-control" id="idnombre" name="descripcionEmpresa" placeholder="Descripcion general de la empresa">
                  </textarea>
                </div>
                  
                  <div class="form-group">
                  <label for="direccionEmpresa">Oficina central :</label>
                  <input type="text" class="form-control" id="direccionEmpresa" name="direccionEmpresa" placeholder="Direccion">
              </div>   
              
              <div class="form-group">
                  <label for="sitioWebEmpresa">Pagina web :</label>
                  <input type="text" class="form-control" id="sitioWebEmpresa" name="sitioWebEmpresa" placeholder="www.ejemplo.com.sv">
              </div>
                  
              <div class="form-group">
                  <label for="correoEmpresa">Correo electronico :</label>
                  <input type="text" class="form-control" id="correoEmpresa" name="correoEmpresa" placeholder="ejemplo@ejemplo.com">
              </div>
                  
              <div class="form-group">
                  <label for="telefono">Telefono:</label>
                  <input type="text" class="form-control" id="telefono" name="telefono" placeholder="0000-0000">
              </div>
                  
               <div class="form-group">
                  <label for="movil">Movil:</label>
                  <input type="text" class="form-control" id="movil" name="movil" placeholder="0000-0000">
              </div>
                
            
            
            
               
              
		
		
		
           
          </div>
          
   </div>
   
           </form> 

   </div>
             
                        
                        
                        
             
       
   
{% endblock %}
{% endblock %}




