{% extends ':Layout:layout2.html.twig' %}

{% block descripcion_y_acciones %}


    
        {% block descripcion %}
            
        {% endblock%}
        {% block acciones %}
                     
        {% endblock %}


{% endblock %}
{% block js_extend %}
   

      
  {% endblock %} 

{% block navegacion_Y_body %}
  
        {% block navegacion %}
            
        {% endblock %}
        {% block cuerpo %}
   
            
      
   
   <div class="row">
			
          <div class="col-md-9">
            
              <center> <h3 style="margin-top: 90px;font-family: cursive; ">Formulario de contacto</h3></center>
              <form class="form-horizontal" role="form" method="post" action="{{ path('contacto',{correo:correoAbogado}) }}" >
                    <input type="hidden" name="correoAbogado" value="{{correoAbogado}}">
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Nombre</label>
		<div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="nombreCliente" placeholder="Nombre completo" required>
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
                    <input type="email" class="form-control" value="" id="email" name="correoCliente" placeholder="example@domain.com" required>
		</div>
	</div>
	<div class="form-group">
		<label for="message" class="col-sm-2 control-label">Mensaje</label>
		<div class="col-sm-10">
			<textarea class="form-control" rows="4" name="mensajeCliente" required></textarea>
		</div>
	</div>
	{#<div class="form-group">
		<label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
		</div>
	</div>#}
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<input id="submit" name="submit" type="submit" value="Enviar" class="btn btn-primary btn-sm btn-flat">
		</div>
	</div>
	
              </form>
                
                </div>
                  

               
             
             
  

   </div>
  
        
        {% endblock %}
{% endblock %}





