
<form id="frmAlumno" role="form" enctype="multipart/form-data">
		<table>
			<tr>
                                <td style="padding-right:5px;">
					<b>Foto de la empresa:</b>
				</td>
				<td>
                                    <input required type="file" name="file" id="imagen">
				</td>
						
			</tr>
		</table>
		<table style="margin-top:10px;">
			<tr>
				<td style="padding-right:5px;">
					<b>Nie:</b><input type="number" required name="txtnie" class="form-control reducir" >
				</td>
				<td style="padding-right:5px;width:260px;">
					<b>Nombres:</b><input type="text" name="txtname" class="form-control" >
				</td>
				<td style="width:260px;">
					<b>Apellidos:</b><input type="text"  name="txtapellido" class="form-control" >
				</td>
			</tr>
		</table>
		
			<div style="margin-top:10px;margin-bottom:40px;">
				
				<button class="btn btn-primary derecha">Guardar</button>
			</div>
		</form>