{% extends ':Layout:layout2.html.twig' %}

{% block descripcion_y_acciones %}


    {% block descripcion %}

    {% endblock%}
    {% block acciones %}

    {% endblock %}

{% endblock %}
{% block js_extend %}
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="src/js/bootstrap.js"></script>
    <script type="text/javascript">
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
    </script>
{% endblock %} 

{% block navegacion_Y_body %}

    {% block navegacion %}

    {% endblock %}
    {% block cuerpo %}
        
        <div class="container" style="padding: 20px 0px; background-color: #f6f6f6;">
		<div class="row">
			<div class="col-md-3">
				<div class="bloque-main" style="padding: 10px; margin-top: 20px;">
				<ul style="list-style: none; padding: 0; margin-bottom: 0px;">
					<p class="sans text-uppercase" style="font-size: 12px; margin-bottom: 0px;"><strong>CATEGORIAS</strong></p>
					<li style="padding-top: 5px; padding-left: 8px;">Juridico</li>
					<li style="padding-top: 5px; padding-left: 8px;">Familiar</li>
					<li style="padding-top: 5px; padding-left: 8px;">Casos de Divorcio</li>
					<li style="padding-top: 5px; padding-left: 8px;">No se que</li>
				</ul>
				</div>
			</div>
			<div class="col-md-6" style="padding-right: 0px; padding-left: 0px;">
				<div class="bloque-main" style="padding: 10px; margin-top: 20px;">
				<a href="bloglist.php">Regresar</a>
				<img src="{{ asset('Resources/imagenes/blog.jpg')}}" style="max-width: 100%; width: 950px; height: 243px;">
				<p class="sans" style="font-size: 1.5em; margin-top: 10px; padding-left: 10px;">Firma Electronia, algo bueno o malo?</p>
				<p class="sans" style="font-size: 13px; padding-left: 10px;">Fecha | Escrito por: Nombre de la persona | Jurisiccion</p>
				<p class="sans text-justify" style="font-size: 13px; font-weight: 300; padding-left: 10px; padding-right: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</br></br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</br></br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</br></br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="bloque-main" style="padding: 10px; margin-top: 20px;">
					<div class="mainblog">
					    <div class="coverblog">
					    	<div style="width: 100%; max-width: 100%; background-color: #f6f6f6; height: 110px;">
					    	</div>
					    </div>
					    <div class="profileblog">
					        <img src="{{ asset('Resources/imagenes/1.jpg')}}" class="img-thumbnail" />
					    </div>
					    <!-- TITULO DE EMPRESA -->
					    <div style="margin-top: 5px; margin-bottom: 5px;">
					    	<p class="text-center sans" style="font-size: 15px; color: #777777; margin-bottom: 0px;">
					    		Marvin Jose Vigil Martinez
					    	</p>
					    	<p class="text-center sans" style="font-size: 12px; color: #777777; z-index: 555; margin-bottom: 0px;">+ 503 2512 - 6247 | info@monkey-systems.com| www.monkey-systems.com </p>
							</div>
					</div>
				</div>
				<!-- <img src="src/img/1.jpg" style="width: 100%; max-width: 100%; margin-top: 50px;" class="img-thumbnail">
				<p class="sans text-left" style="font-size: 13px; margin-bottom: 0px;">Joaqiun Ernesto Aguilar Chicas</p>
				<p class="sans text-left" style="font-size: 13px; font-weight: 300;">Directo en Arias y Asociados Bufete Juridico</p> -->
			</div>
		</div>
	</div>

	<div style="height: 10px;"></div>
	
    {% endblock %}
{% endblock %}